{{- define "main" }}
{{ partialCached "index-profile.html" . }}

{{ partial "post-content.html" (dict "ctx" .) }}

{{ partialCached "category-grid.html" . }}

<div class="home-section">
  <h2>{{ partial "util/i18n.txt" "recently_published" }}</h2>
  <ol class="page-list">
    {{- $ctx := dict
      "page" .
      "recursive" true
    }}
    {{- $paginator := .Paginate (partialCached "pages" $ctx $ctx) }}
    {{- range (where (where $paginator.Pages.ByPublishDate.Reverse "Params.draft" "ne" true) "Params.publishDate" "gt" (now.AddDate 0 -3 0)).Limit 5 -}}
      {{- partial "page-list-entry.html" . -}}
    {{- end -}}
  </ol>
</div>
{{- end }}{{/* end main */ -}}
