{{- if in (printf "%" .Params) "TODO" }}
  {{- warnf "Shortcode has TODO: %s" .Position }}
{{- end }}

{{- $path := "" }}
{{- with .Get 0 }}
  {{- $path = . }}
{{- else }}
  {{- errorf "At least one param should be provided (a page path): %s" $.Position }}
{{- end }}

{{- $site := site }}
{{- with $lang := .Get 1 }}
  {{- with where site.Sites "Language.Lang" "eq" $lang }}
    {{- $site = index . 0 }}
  {{- else }}
    {{- errorf "Language '%s' does not exist: %s" $lang $.Position }}
  {{- end }}
{{- end }}

{{- with $site.GetPage $path }}
  {{- partial "page-list-entry.html" . }}
{{- else }}
  {{- errorf "Page '%s' does not exist: %s" $path $.Position }}
{{- end -}}
