{{ $datetime := "" }}
{{- if .IsNamedParams }}
  {{- with .Get "datetime" }}
    {{- $datetime = . }}
  {{- else }}
    {{- errorf "Param 'datetime' or unnamed param mandatory. %s" .Position }}
  {{- end }}
{{- else }}
  {{- with .Get 0 }}
    {{- $datetime = . }}
  {{- else }}
    {{- errorf "Param 'datetime' or unnamed param mandatory. %s" .Position }}
  {{- end }}
{{- end }}

<time datetime="{{ $datetime }}">{{ with .Inner }}
  {{- . | markdownify }}
{{- else }}
  {{- time.Format ":date_long" $datetime }}
{{- end }}</time>
