<figure
  {{ with $.Get `class` }}class="{{ . }}"{{ end }}
>
  {{- if $.Get "link" }}<a
    href="{{ $.Get `link` }}"
    {{ with $.Get `target` }}target="{{ . }}"{{ end }}
    {{ with $.Get `rel` }}rel="{{ . }}"{{ end }}
  >{{ end }}
    <video
      controls preload="none"
      {{ with $.Get `poster` }}poster="{{ . }}"{{ end }}
      {{ if or ($.Get `alt`) ($.Get `caption`) }}
      alt="{{ with $.Get `alt` }}{{ . }}{{ else }}{{ $.Get `caption` | markdownify | plainify }}{{ end }}"
      {{- end }}
      {{ with $.Get `width` }}width="{{ . }}"{{ end }}
      {{ with $.Get `height` }}height="{{ . }}"{{ end }}
    >
      {{ .Inner }}
    </video>
  {{ if $.Get "link" }}</a>{{ end }}

  {{- partialCached "figcaption.html" (dict
    "title" ($.Get "title")
    "caption" ($.Get "caption")
    "attr" ($.Get "attr")
    "attrlink" ($.Get "attrlink")
    "datetime" ($.Get "datetime")
  ) }}
</figure>
